body {
  background: #212d40;
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  --color-primary: #364156;
  --color-primary-dark: #11151c;
  --color-secondary: #212d40;
  --color-bright: #d66853;
  --color-light: #e0e1dd;
  --border-radius: 4px;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card {
  background-color: var(--color-light);
  border-radius: 15px;
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}

.main-container {
  padding: 2rem;
}

h1 {
  display: flex;
  justify-content: center;
}

.main-logo {
  display: block;
  margin: auto;
}
