footer {
  color: var(--color-primary-dark);
  background: var(--color-light);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
  color: var(--color-primary-dark);
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 0.8rem;
  }
}
