.meme-container {
    display: flex;
  }

  form {
    background: #364156;
    text-align: center;
    padding: 20px;
  }

  input,
  button {
    width: 50%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    outline: none;
  }

  input {
    padding: 6px 8px;
  }

  button {
    background: #d66853;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
  }

  .meme {
    position: relative;
  }
  .meme > img {
    display: flex;
    margin: auto;
    max-width: 40%;
  }

  .meme h2 {
    position: absolute;
    max-width: 36em;
    font-size: 40px;
    text-align: center;
    left: 49%;
    transform: translateX(-50%);
    margin: 0.3em 0;
    font-family: Impact, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 4px 3px 0 #000;
  }

  .meme .top {
    top: 0.1em;
  }
  .meme .bottom {
    bottom: 0.1em;
  }
  
  /* On screens that are 768px or less */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      margin-bottom: 14px;
    }
    .meme-container {
      flex-direction: column;
    }
    .meme > h2 {
      font-size: 30px;
    }
  }
  