.navbar {
  background: var(--color-light);
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
}

.navbar-container {
  display: flex;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: var(--color-primary-dark);
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-links {
  color: rgb(183, 228, 199);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
